{% extends 'model-page.html' %}
{% block content %}
    
    <form action="submit" method="POST">{% csrf_token %}
    <div class="form-group">
        <span>Usuário</span>
        <input type="text" name="username" class="form-field" maxlength="20" required />
    </div>
    <div class="form-group">
        <span>Senha</span>
        <input type="password" name="password" class="form-field" required />
    </div>
    <div class="cent-button">
        <input type="submit" value="Entrar" />
    </div>
    </form>
    
{% endblock %}